//$green: #4af6cd;

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  "Ubuntu", sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1300;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor:  #171818;
$mainColor1: #007BFF;
$mainColor2: #28A745;
$mainColor2Hover: #972126;