.burger-wrap {
	margin-left: 10px;
	display: inline-block;
	border-radius: 4px;

	@media (max-width: $md3+px) {
		margin-left: 7px;
	}

	& .burger {
		width: 18px;
		height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		cursor: pointer;
	}

	& .burger span {
		width: 16px;
		height: 2px;
		display: block;
		background: #000;
		position: absolute;
		transition: all 0.2s;
		border-radius: 5px;
	}

	& .burger span:nth-child(1) {
		top:3px;
	}

	& .burger span:nth-child(2) {
		background: #000;
	}

	& .burger span:nth-child(3) {
		background: #000;
	}

	& .burger span:nth-child(4) {
		bottom:3px;
	}

	.second {
		transform:rotate(45deg)  scale(1) !important;
		background: #000;
	}

	.third {
		transform: rotate(-45deg)  scale(1) !important;
		background: #000;
	}

	.first {
		transform:  scale(0) !important;
	}

	.fourth {
			transform: scale(0) !important;
	}
}