.review-page {

}



.review-block {
	min-height: calc(100vh - 248px);
}



.review-form {
	margin: 30px 0;
	&__item {
		margin-bottom: 35px;
		& label {
			display: block;
			margin-bottom: 10px;
			font-weight: 500;
		}

		& .input {
			min-height: 50px;
			border: 1px solid #ccc;
			border-radius: 8px;
			color: rgba(#171818, 0.8);

			&[type="file"] {
				position: relative;
				display: none;

				& + label {
					display: inline-block;
					margin-bottom: 0;
				}

			}
		}

		& .textarea {
			resize: none;
			width: 100%;
			min-height: 300px;
			border: 1px solid #ccc;
			border-radius: 8px;
			color: rgba(#171818, 0.8);
			padding: 15px 15px;

			@media (max-width: $md3+px) {
				min-height: 200px;
			}
		}
	}

	&__textarea-info {
		font-size: 12px;
		line-height: 20px;
		color: rgba(#171818, 0.54);
	}
	&__submit {}
}
.rating-block {
}
