@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

// ==== ШРИФТЫ ===========================================================================================
@import "fonts";
// ==== // ШРИФТЫ ===========================================================================================

// ==== НОРМАЛАЙЗ ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

// ==== ПЕРЕМЕННЫЕ ===========================================================================================
@import "vars"; 
// ==== // ПЕРЕМЕННЫЕ ===========================================================================================

//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

// ==== ГЛОБАЛЬНЫЕ СВОЙСТВА ===========================================================================================
@import "global";
// ==== ГЛОБАЛЬНЫЕ СВОЙСТВА ===========================================================================================

//<FANCYBOX>===============================================================================================
//@import "fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== ПЛАГИНЫ ===========================================================================================
@import "slick-slider.scss";
// ==== // ПЛАГИНЫ ===========================================================================================


// ==== БУРГЕР ===========================================================================================
@import "burger";
// ==== БУРГЕР ===========================================================================================

// ==== НАЧАЛЬНЫЕ САТИЛИ ФОРМЫ ===========================================================================================
@import "forms";
// ==== НАЧАЛЬНЫЕ САТИЛИ ФОРМЫ ===========================================================================================

// ==== DATA-PICKER===========================================================================================
//@import "datepicker";
// ==== DATA-PICKER ===========================================================================================

// ==== POPUP ===========================================================================================
//@import "popup";
// ==== POPUP ===========================================================================================

// ==== RESPONSIVE TABLE ===========================================================================================
@import "responsive-tables";
// ==== RESPONSIVE TABLE ===========================================================================================

// ==== HEADER =====================================================
@import "header";
// ==== AND HEADER =====================================================


// ==== HOME =====================================================
@import "index";
// ==== AND HOME =====================================================

// ==== PRODUCT =====================================================
@import "product-page";
// ==== AND PRODUCT =====================================================

// ==== WEBINAR =====================================================
@import "webinar-page";
// ==== AND WEBINAR =====================================================

// ==== WEBINAR CATEGORIES =====================================================
@import "webinar-categories";
// ==== AND WEBINAR CATEGORIES =====================================================

// ==== ANALOGS =====================================================
@import "analogs.scss";
// ==== AND ANALOGS =====================================================

// ==== ARTICLES =====================================================
@import "articles-page";
// ==== AND ARTICLES =====================================================

// ==== ARTICLE=====================================================
@import "arcticle";
// ==== AND ARTICLE=====================================================

// ==== REVIEWS PAGE =====================================================
@import "review-page";
// ==== AND REVIEWS PAGE =====================================================




// ==== FOOTER =====================================================
@import "footer";
// ==== AND FOOTER =====================================================

