.webinar {
	& .local-navigation {
		margin: 69px 0;
	}


	@media (max-width: 575px) {

		& .local-navigation {
			margin: 14px 0;
		}

		& .product-head {
			margin-bottom: 14px;
		}

		& .product-head__btn-wrap {
			justify-content: flex-start;
			margin-bottom: 14px;
		}

		& .product-head__title {
			margin-bottom: 8px;
		}
	}



	// slider bottom ===================

	& .analogs {
		& .item-slider-analogs__date {
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			color: rgba($textColor, 0.54);
			opacity: 0.54;
			margin: -7px 0 0px;
		}

		& .item-slider-analogs__time {
			font-weight: bold;
			font-size: 21px;
			line-height: 24px;
			margin: 6px 0 0px;
		}

		& .item-slider-analogs__link {
			margin-top: 43px;
			margin-bottom: -1px;
		}

		@media (max-width: 575px) {
			margin: 65px 0 43px;
			&__title {
				font-size: 24px;
				line-height: 28px;
			}

			& .item-slider-analogs__link {
				margin-top: 14px;
			}
		}
	}

}

.text-block {
	margin: 72px 0;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #000000;

	@media (max-width: 575px) {
		margin: 25px 0 25px;
		font-size: 14px;
		line-height: 16px;
	}

	&__title {
		margin-bottom: 24px;

		@media (max-width: 575px) {
			margin-bottom: 15px;
		}
	}

	& .container > p {
		max-width: 635px;
		margin: 0px 0 16px;

		@media (max-width: 575px) {
			margin: 0px 0 10px;
		}
	}
}
 

// ==== webinar-desc=====================================================
.webinar-desc {
	margin: 78px 0;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #000000;

	@media (max-width: 575px) {
		margin: 25px 0 25px;
		font-size: 14px;
		line-height: 16px;
	}

	&__title {
		margin-bottom: 24px;

		@media (max-width: 575px) {
			margin-bottom: 15px;
		}
	}

	& .container > p {
		max-width: 635px;
		margin: 0px 0 16px;

		@media (max-width: 575px) {
			margin: 0px 0 10px;
		}
	}
}

// ==== AND webinar-desc =====================================================


// ==== lecturers =====================================================
.lecturers {
	margin: 80px 0 72px;

	@media (max-width: 575px) {
		margin: 39px 0 27px;
	}

	&__title {
		margin-bottom: 35px;

		@media (max-width: 575px) {
			margin-bottom: 22px;
		}
	}

	&__list {
		margin: 30px 0;

		@media (max-width: 575px) {
			margin: 22px 0;
		}

		& > li {
			&:not(:last-child) {
				margin-bottom: 34px;

				@media (max-width: 575px) {
					margin-bottom: 18px;
				}
			}
		}
	}
}

.item-lecturers {
	max-width: 635px;
	display: flex;

	@media (max-width: 575px) {
		flex-wrap: wrap;
	}

	&__column {
		&_1 {
			flex: 0 0 auto;
			margin-right: 24px;

			@media (max-width: 575px) {
				margin-bottom: 12px;
			}
		}
		&_2 {
			flex: 1 1 calc(100% - 102px);
		}
	}
	&__img {
		width: 78px;
		height: 78px;
	}

	&__name {
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
		margin: 7px 0 17px;

		@media (max-width: 575px) {
			margin: 27px 0 15px;
		}
	}

	&__label {
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		margin: 12px 0;
	}

	&__text {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		word-break: break-word;
		& > p {
			margin: 0 0 15px;
		}
	}

	&__mobile-box {
		@media (max-width: 575px) {
			width: 100%;
		}
	}
}


// ==== AND lecturers =====================================================

